<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body style="background-color: white !important; font-family: 'Poppins',sans-serif;">

  <center>
    <div style="width:500px; padding-top: 10%; padding-bottom: 10%;">
      <div style="background-color: #ff9a36; border-radius: 5px;">
        <img src="https://i.imgur.com/XjPCCut.png" width="200" style="margin-top: 1%;">
        <div style="background-color: white;">
          <h4 style="font-size:20px; color: black; padding: 5% 5% 0% 5%; font-weight: 400;">Recuperação de Conta -
            FiveMarket!</h4>

          <p style="color: black;">
           Recebemos uma solicitação de recuperação de conta vinculada ao endereço de email  <span style="color:#FFC60C;"><%= email %></span> Para completar o processo de recuperação de sua conta, é necessário a confirmação do token clicando no link abaixo:

          </p>

          <p style="padding-top: 2%; font-size: 15px; font-weight: 600; color: black;">CÓDIGO</p>

          <p><a href="<%= url_recover_account %><%= token %>" style="color: black; padding-top: 5%;" target="_blank">Ativar minha conta</a></p>

          <button style="height:50px; width:150px; border-radius: 5px; background-color:transparent; font-size: 20px; font-weight:500; border: 1px solid #ccc;"><%= token %></button>

          <p style="color: black; padding: 0% 5% 0% 5%; font-weight: 500; text-align: left; font-size: 15px;">Um
            abraço,<br>
            Equipe<strong> FiveMarket</strong></p>
          <br>
        </div>
      </div>
    </div>
  </center>

</body>

</html>
